OAuth2ServerBundle\Entity\AccessToken:
    type: entity
    table: oauth__access_token
    id:
        token:
            type:       string
            length:     40
            column:     token
    fields:
        userId:
            type:       string
            length:     100
            nullable:   true
            column:     user_id
        expires:
            type:       datetime
            column:     expires
        scope:
            type:       string
            length:     50
            nullable:   true
            column:     scope
    manyToOne:
      client:
        targetEntity: OAuth2ServerBundle\Entity\Client
        joinColumn:
          name: client_id
          referencedColumnName: client_id
          onDelete: CASCADE
          onUpdate: CASCADE
    lifecycleCallbacks: {  }
